// viewport

$desktop-width: 1024px;
$max-content-width: 1020px;

// retina

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

// colors

$main-background: #FFFFFF;
$main-text: #000000;
$pale-text: #474747;
$header-background: rgba(30, 9, 6, 0.15);
$footer-background: #3F3F3F;
$index: #F20505;