.button {
  position: relative;
  box-sizing: border-box;
  display: block;
  width: 87px;
  height: 23px;
  text-align: center;
  line-height: 24px;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.7px;
  color: $main-background;
  border-radius: 2px;

  &--mono {
    width: 89px;
    background-color: $button-mono;
  }

  &--color {
    background-color: $button-color;
  }

  &--transparent {
    color: $pager-active;
    border: 1px solid $pager-active;

    &:hover,
    &:focus {
      opacity: 0.7;
    }

    &:active {
      opacity: 0.5;
      border-color: #6C6C6C;
    }
  }

  &--pagination {
    width: 24px;
    height: 24px;
    line-height: 22px;
    font-weight: 400;
    letter-spacing: 1px;
    color: $main-text;
    border: 0.7px solid $border;
  }
}
