.cart__wrapper {
  max-width: $min-content-width;
  padding-top: 38px;
  padding-bottom: 32px;
}

.cart__title {
  @include title(22px);
  line-height: 24px;
}

.cart__content {
  box-sizing: border-box;
  margin-top: 28px;
}

.cart__list {
  @include list-reset;
  @include indents-none;
  border-bottom: 0.7px solid $header-background;
}