.catalogue__wrapper {
  max-width: $min-content-width;
  padding-top: 14px;
}

.catalogue__title {
  @include title(22px);
  line-height: 24px;
}

.catalogue__content {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 48px;
}

.catalogue__filter {
  padding-top: 1px;
}

.catalogue__empty-message {
  @include indents-none;
  margin-top: 60px;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 1.3px;
}

.catalogue__showcase {
  box-sizing: border-box;
  width: 700px;
}

.catalogue__sorting {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 27px;
}

.catalogue__sorting-title {
  @include indents-none;
  margin-right: 18px;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 1.3px;
}

.catalogue__sorting-toggles {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: auto;
  margin-right: 5px;
}

.catalogue__sorting-toggle {
  position: relative;
  box-sizing: border-box;
  display: block;
  width: 25px;
  height: 25px;
  margin-right: 11px;
  color: $toggle;
  background: none;
  border: none;
  border-radius: 0;
  cursor: pointer;

  &:last-child {
    margin-right: 0;
  }

  &--active,
  &:hover,
  &:focus,
  &:active {
    color: $main-text;
  }

  &:active {
    opacity: 0.5;;
  }
}

.catalogue__list {
  @include list-reset;
  @include indents-none;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
}

.catalogue__item {
  margin-right: 20px;
  margin-bottom: 30px;

  &:nth-child(3n+2) {
    margin-right: 19px;
  }

  &:nth-child(3n) {
    margin-right: 0;
  }
}
