.icon {
  position: absolute;
  top: 0;

  &--arrow {
    top: 3px;
    right: 0;
  }

  &--basket {
    top: 10px;
    left: 10px;
  }

  &--cart {
    top: 5px;
    left: 10px;
  }

  &--checkbox {
    top: 5px;
    left: 5px;
  }

  &--clock {
    left: 0;
  }

  &--phone {
    top: 1px;
    left: 0;
  }

  &--toggle-down,
  &--toggle-up {
    left: 0;
  }

}