.menu {
  @include indents-none;
  @include list-reset;

  &--main,
  &--user,
  &--social,
  &--sorting {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
  }

  &--social {
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 2;
  }

  &--about {
    max-width: 140px;
  }

  &--contacts {
    max-width: 130px;
    line-height: 12.3px;
  }
}

.menu__item {
  position: relative;
  box-sizing: border-box;

  &--icon {
    padding-left: 14px;
  }
}

.menu--main .menu__item {
  margin-right: 40px;
  line-height: 20px;
  letter-spacing: 1.05px;

  &:last-child {
    margin-right: 0;
  }
}

.menu--user .menu__item {
  width: 40px;
  height: 40px;
  margin-right: 10px;

  &:last-child {
    margin-right: 4px;
  }
}

.menu--sorting .menu__item {
  margin-right: 32px;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 1.3px;
}

.menu--social .menu__item {
  width: 24px;
  height: 24px;
  margin-right: 23px;
  opacity: 0.65;

  &:last-child {
    margin-right: 0;
  }
}

.menu--about .menu__item {
  margin-bottom: 12px;

  &:last-child {
    margin-bottom: 0;
  }
}

.menu--catalogue .menu__item,
.menu--information .menu__item {
  margin-bottom: 8px;

  &:last-child {
    margin-bottom: 0;
  }
}

.menu__link {
  box-sizing: border-box;
  padding: 5px 0;
}

.menu--sorting .menu__link {
  color: $pager-active;

  &--active,
  &:hover,
  &:focus,
  &:active {
    color: $main-text;
  }

  &:active {
    opacity: 0.5;;
  }
}

.menu--main .menu__link,
.menu--user .menu__link svg  {

  &:hover,
  &:focus,
  &:active {
    color: $pale-text;
  }

  &:active {
    opacity: 0.5;;
  }
}


.menu__text {
  @include indents-none;

  &--link {
    display: block;
    margin-top: 1px;
    margin-bottom: 12px;
  }
}

.menu__index {
  position: absolute;
  top: 10px;
  right: 6px;
  font-size: 10px;
  line-height: 11px;
  color: $index;
}
