.pagination {
  @include list-reset;
  @include indents-none;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-end;
}

.pagination__item {
  margin-left: 1.4%;

  &:first-child,
  &--nav {
    margin-left: 2%;
  }
}

.pagination__button {

  &--nav {
    width: 80px;
  }

  &--dots {
    letter-spacing: normal;
  }

  &--active,
  &:hover,
  &:focus {
    color: $main-background;
    background-color: $pager-active;
  }


}