.purchase {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  min-height: 164px;
  padding: 20px 0;
  padding-left: 4.8%;
  border-top: 0.7px solid $header-background;

  &--empty {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
}

.purchase__delete {
  @include indents-none;
  position: absolute;
  display: block;
  top: 19px;
  left: 0;
  width: 20px;
  height: 20px;
  background: none;
  border: none;
  cursor: pointer;
  transition: transform 0.5s;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 1.5px;
    height: 15px;
    margin: auto;
    background-color: $border;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(135deg);
  }

  &:hover,
  &:focus {
    transform: rotate(90deg);
  }
}

.purchase__image {
  margin-right: 7.8%;
}

.purchase__picture {
  display: block;
  margin-bottom: 0;
  margin: 0 auto;
  width: auto;
}

.purchase__info {
  width: 280px;
  margin-right: 8.5%;
}

.purchase__title {
  @include title(16px);
  margin-top: -2px;
  margin-bottom: 8px;
  text-transform: uppercase;
  line-height: 20px;
}

.purchase__text {
  @include indents-none;
  margin-left: 2px;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 1px;
}

.purchase__price {
  @include indents-none;
  min-width: 90px;
  margin-top: 7px;
  margin-right: 9.4%;
  align-self: center;
  font-size: 20px;
  line-height: 22px;
  letter-spacing: 1.2px;
  text-align: center;

}

.purchase__quantity {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.purchase__сontrol {
  position: relative;
  box-sizing: border-box;
  display: block;
  width: 27px;
  height: 30px;
  background: none;
  border: 1px solid $border;
  cursor: pointer;
  outline: none;

  &--increase {
    border-left: none;
  }

  &--decrease {
    border-right: none;
  }

  &::before,
  &--increase::after {
    content: "";
    position: absolute;
    top: 14px;
    left: 9px;
    width: 8px;
    height: 1px;
    background-color: $border;
  }

  &--increase::after {
    transform: rotate(90deg);
  }
}

.purchase__input {
  @include input;
  width: 28px;
  height: 30px;
  padding-top: 3px;
  font: inherit;
  font-size: 16px;
  line-height: 18px;
  color: $border;
  border: 1px solid $border;
  border-left-width: 0.5px;
  border-right-width: 0.5px;
  border-radius: 0;
  appearance: textfield;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    appearance: none;
  }
}

.purchase__sum {
  @include title(20px);
  align-self: center;
  margin-top: 8px;
  margin-left: auto;
  line-height: 22px;
  letter-spacing: 1.2px;
}

.purchase--empty .purchase__title {
  position: relative;
  margin: 0 auto;
  padding-left: 25px;
}

.purchase--empty .purchase__title svg {
  width: 25px;
  height: auto;
  top: -6px;
  left: -15px;
}

.purchase--empty .button {
    margin: 0 auto;
}
